html {
    box-sizing: border-box; 
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 1.2rem;

}
*, 
* ::before, 
* ::after {
    box-sizing: inherit ;
}

body {
    background-image: url(https://i.pinimg.com/1200x/23/27/3b/23273b87377964d8bce58570bfa51e1f.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#wrapper {
    width: 60%;
    background-color: rgba(153, 154, 238, 0.8);
    color: rgb(250, 230, 216);
    padding: 2rem; 
    border-radius: 2rem;
    margin: 0 auto;
}

nav {
    text-align: center;
    margin-bottom: 3.5rem;
}

nav li { 
    display: inline;
}

nav a {
   padding: 12px 16px;
   background-color: rgb(249, 232, 215);
    border-radius: 8px;
    margin-right: 8px;
}

.policies {
    padding-bottom: 2rem;
}

form {
    padding-left: 3rem;
}

label,
span{ 
    display: inline-block;
    width: 250px;
    margin-right: 20px;
    text-align: right; 
}

label,
span {
display: inline-block;
width: 250px;
margin-right: 20px; 
}

.radio label {
width: 12px;
}

span { 
    margin-top: 20px;
    margin-bottom: 20px;
}

 input[type=text],
input[type=email],
input[type=tel],
input[type=date],
input[type=number],
input[type=file],
input[type=checkbox],
input[type=password],{
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
} 

    textarea {
        border-radius: 8px;
    }

    input[type=checkbox]
    input[type-radio] {
      width: 18px;
    height: 18px;
    cursor: pointer;
    }

    select {
        height: 20px;
    }

    button {
background-color: white;
color: rgb(41, 116, 202); my text is blue to go with blue – yours can be different.
padding: .5rem; buttons are small to begin with – need small amount of padding
margin-bottom: 1rem;
border-radius: 8px;
text-transform: uppercase;
font-size: .75rem;
letter-spacing: 1px;
font-weight: 600;
cursor: pointer;
}

button[type=submit] {
margin-top: 2rem;
}

nav a:link,
nav a:visited {
    line-height:1.5;
}

nav a:hover,
nav a:active {
    text-decoration: underline rgb(239, 210, 164);
    text-underline-offset: 6px;
    color: rgb(0,0,0)
    text-decoration:rgb(199, 100, 167)

}

nav a:hover::before{
    content: "\1F3F5";
    nav a:hover::after{
        content: "\1F3F5";

    }