html {
  
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 1.2rem;
line-height: 1.2;
color: grey

}
*, 
* ::before, 
* ::after {
    box-sizing: inherit ;
}

nav{
    background-color: gold;
    margin: 0 auto 30px; 
    text:text-decoration: underline;
    width: 1100px;
}

nav ul {
   display: flex;
    justify-content: space-around;
    padding:20px;
}
nav li{
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 1px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parent {
width: 1100px;
height: 680px;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
}


.div1 { 
    grid-area: 1 / 1 / 3 / 4; 
    background-color: lightgreen;
}

.div2 { 
    grid-area: 1 / 4 / 3 / 6; 
    background-color: lightpink;
}
.div3 {
     grid-area: 1 / 6 / 2 / 8;
         background-color: lightskyblue;

     }
.div4 { 
    grid-area: 2 / 6 / 3 / 8;
        background-color: purple;

 }
.div5 {
     grid-area: 3 / 1 / 5 / 4; 
         background-color: lightcoral;

    }
.div6 { 
    grid-area: 3 / 4 / 4 / 5; 
        background-color: aqua;

}
.div7 {
     grid-area: 3 / 5 / 4 / 6; 
         background-color: tan;

    }
.div8 {
     grid-area: 4 / 4 / 5 / 6; 
         background-color: red;

    }
.div9 { 
    grid-area: 3 / 6 / 5 / 8;
        background-color: black;

 }