html {

    font-size: 1rem;
    line-height: 1.2;
    color: rgb(0, 0, 0);
}

h1,
h2,
h3
    h1{
    color: rgb(4, 117, 51);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    text-decoration: underline rgba(0, 0, 0) 1px; 
     text-underline-offset:6px; 

}

h1 {
font-size: 2.25rem;
opacity: 0;
}

.fade-text {
    animation: fadetxt linear 7s 14s;
    animation-fill-mode: forwards;
}
img{
    shape-outside: circle(50%);

}

@keyframes fadetxt {
    0% {
        opacity: 0;
    }
    50%{
        font-size: 2.75rem;
    }
    100%{
        opacity: 1;
        font-size: 3.25em;
    }
}

main,
header {
    width: 60%;
    margin: 0 auto;
    line-height: 1.4;
}



    h2 {
    font-size: 1.8rem;;
    text-decoration: underline rgb(12, 97, 4) 1px;
    color:rgb(199, 100, 167)
}

h2::before,
h2::after {
    content: "\1F3F5 ";
    color:black

}
    h3 {
    font-size: 1.5rem;;
    text-decoration: underline rgba(0, 0, 0) 1px;
    color:rgb(199, 100, 167)
    
}

h3::before,
h3::after {
    content: "\1F3F5 ";
    color:black
}
nav{
  float:right;
  position:sticky;
    top:0;
    background-color:rgb(255, 182, 193);
    width: 240px;
}

    nav ul{
        padding: 0;
    }

nav li{ 
    font-size:1.3rem;
    font-family:'Courier New', Courier, monospace
    font-weight: 600;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;
}

nav,
header {
   text-align: center; 
}

nav a,
.assignments a {
    text-decoration: none;
    color: rgb(109, 8, 104);
}

nav a:link,
nav a:visited {
    line-height:1.5;
}

nav a:hover,
nav a:active {
    text-decoration: underline rgb(101, 7, 56);
    text-underline-offset: 6px;
    color: rgb(0,0,0)
    text-decoration:rgb(199, 100, 167)

}

nav a:hover::before{
    content: "\1F3F5";
    nav a:hover::after{
        content: "\1F3F5";

    }


}

.assignments li {
    list-style-type: none;
}
.assignments a:link,
.assignments a:visited {
  line-height:1.6
}


.assignments a:hover,
.assignments a:active {
      text-decoration:underline rgb(101, 7, 70) 2px;
    
      text-underline-offset: 2px;
}

.assignments li::before {
    content: "\1F3F5";
    color: rgb(109, 8, 104);
    font-weight:  3 rem ;
}

footer{
    color:rgb(204, 120, 182)
    line-height: 80%;
    font-weight: 500;
}
small {
    font: right;
    padding: 20px; 0 40px 0;

} 

/*
small {
    position: absolute;
    bottom: -100px;
    right: 0;
    padding: 30px 0;
}
*/