/*
 font-family: "Croissant One", serif;
 font-family: "Lato", sans-serif;
*/

html {
    box-sizing: border-box; 
    font-family: 'Lato', sans-serif 
    font-size: 1.28rem;
    line-height: 125%;
    color: #50504f;
  }

*, 
* ::before, 
* ::after {
    box-sizing: inherit ;
}

nav {
  background-color: #c98226 ;
    text-align: center;
    margin-bottom: 3.5rem;

}
nav li { 
    display: inline;
}

nav a {
  padding: 20px
  display: inline-block;
  color: #white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover
nav a:active{
  background-color: #f3b96c;


}


nav a:link,
nav a:visited {

}

nav a:hover,
nav a:active {

}

nav a:hover,
nav a:active {
    text-decoration: underline rgb(101, 7, 56);
    text-underline-offset: 6px;
    color: rgb(0,0,0)
    text-decoration:rgb(199, 100, 167)
}

    

  nav {
    text-align: center;
    margin-bottom: 3.5rem;
}

nav li { 
    display: inline;
}

main {
    width: 80%;
    margin: 0 auto; 
}

h1,
h2, 
h3
  {
    font-family: 'Croissant One', cursive;
}

h1{
  font-size: 3rem;
  margin: 6% 0;
  text-align: center; 
  text-shadow: 3px 5px 3px #ccc;
}
header{ 
  margin: 10%;
}

img {
  float: left;
  max-width: 30%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 50%; 
  box-shadow: 5px 5px 3px #ccc;
  shape-outside: circle(50%);
}

header h2{
  margin-top: 8%;
}

.rate{
  clear:both;
  margin-top: 6%;
  text-align: center;
  font-size: 1.9 rem;
}

.emoji::after{
content:"\1f370";
}

.details,
.ingredients, 
.instructions,
.nutrition {
  width: 35%;
  float: left;
}

.details,
.instructions {
  margin-right: 16%;
  margin-left: 5%; 
}

</div>

blockquote{
  clear: both;
}